<script type="text/javascript">
	_gaq.push(['_trackPageview', '/help/term']);
</script>
<span class="dialogContent helpPage">
		<h1>ข้อตกลงการใช้งาน</h1>
		<p>
			1. www.gamling.org เป็นเว็บไซต์ของ WhoWish Corporation Limited ที่ผู้ใช้ทุกท่านสามารถเข้ามาเยี่ยมชม และใช้บริการได้ โดยขณะที่เข้าเยี่ยมชม และใช้บริการผ่านทาง www.gamling.org นั้น ผู้ใช้บริการต้องตกลงยอมรับและปฏิบัติตามกฎเกณฑ์ และเงื่อนไขการให้บริการทั้งหมดตามที่ WhoWish Corporation Limited กำหนด รวมถึงข้อสงวนสิทธิ์ และข้อจำกัดความรับผิด (Disclaimer & Limitation of Liability) นโยบายสิทธิส่วนบุคคล (Privacy Policy) ตลอดจน ลิขสิทธิ์ (Copyright) ในเว็บไซต์ www.gamling.org และ กฎระเบียบต่าง ๆ ที่ระบุไว้ในแต่ละส่วนของเว็บไซต์แห่งนี้ 
		</p><br/>
		<p>
			2. WhoWish Corporation Limited และ www.gamling.org มีนโยบายสิทธิส่วนบุคคล (Privacy Policy) เพื่อสร้างความเชื่อมั่นให้กับผู้ใช้บริการ www.gamling.org ข้อมูลในการลงทะเบียน และ รายละเอียดอื่น ๆ ของท่าน มีความเกี่ยวข้องกับนโยบายรักษาสิทธิส่วนบุคคลของทาง www.gamling.org  ซึ่งท่านสามารถอ่าน รายละเอียดเพิ่มเติมได้ที่ นโยบายสิทธิส่วนบุคคล (Privacy Policy) 
		</p><br/>
		<p>
			3. ในการใช้บริการของ www.gamling.org  ผู้ใช้บริการจะต้องให้รายละเอียดต่างๆ ตามความเป็นจริง ถูกต้อง และทันต่อเหตุการณ์ 
		</p><br/>
		<p>
			4. หากผู้ใช้บริการ ให้รายละเอียดใดๆ ตามข้อ 3. ที่ไม่ถูกต้อง ไม่ตรงกับความจริง หรือ มีเหตุผลที่ทำให้ www.gamling.org เชื่อว่าข้อมูลเหล่านั้นเป็นเท็จ ทาง www.gamling.org มีสิทธิ์ที่จะระงับ หรือ ยกเลิกการใช้บริการของท่านที่ www.gamling.org และ/หรือ ปฏิเสธที่จะให้การบริการใดๆ แก่ท่าน 
		</p><br/>
		<p>
			5. ผู้ใช้บริการ ต้องไม่นำส่วนหนึ่งส่วนใดของการบริการ การเข้าสู่การบริการ หรือประโยชน์ของบริการ ไปทำซ้ำ ดัดแปลง ขายต่อ หรือกระทำการใดๆ ที่มีวัตถุประสงค์ในทางการค้า หรือ เป็นภัยอันตรายต่อ ประเทศชาติ ศาสนา ขนบธรรมเนียมประเพณี และ สถาบันพระมหากษัตริย์ 
		</p><br/>
		<p>
			6. ผู้ใช้บริการ ตกลงยอมรับว่า บรรดารายละเอียดต่างๆ ไม่ว่าจะเป็นเนื้อหา ข้อความ บทความ ข้อมูล ซอฟท์แวร์ โปรแกรมต่างๆ เสียง ดนตรี วีดีโอ รูปภาพ กราฟฟิค หรือส่วนประกอบใดๆ (ต่อไปนี้จะเรียกรวมว่า “เนื้อหา”) ที่ได้ถูกนำเสนอต่อสาธารณะ บนเว็บไซต์ www.gamling.org หรือส่งต่อแบบส่วนตัวนั้น ถือเป็นความรับผิดชอบแต่เพียงผู้เดียวของผู้ที่นำเสนอเนื้อหานั้นๆ ซึ่งหมายความว่า ผู้ใช้บริการ (มิใช่ WhoWish Corporation Limited หรือ www.gamling.org) จะต้องรับผิดชอบต่อเนื้อหาทั้งหมด ทุกประเภท ที่เกิดจากการนำเสนอข้อมูลของผู้ใช้บริการเองบน เว็บไซต์ www.gamling.org ไม่ว่าจะเกิดจากการส่งข้อมูล การประกาศ การโพสต์ (Post) การอัพโหลด (Upload) หรือการส่งจดหมายอิเล็คทรอนิคส์ (E-mail) หรือการกระทำอื่นใด ผ่านการให้บริการของ www.gamling.org 
		</p><br/>
		<p>
			7. WhoWish Corporation Limited และ www.gamling.org มิได้เข้าไปควบคุมเนื้อหาที่ถูกผู้อื่นนำเสนอผ่านการให้บริการของ www.gamling.org ดังนั้น WhoWish Corporation Limited และ www.gamling.org จึงไม่สามารถรับประกันความถูกต้องสมบูรณ์ คุณภาพ หรือความเหมาะสมของเนื้อหาที่ เกิดขึ้นจากการนำเสนอนั้นได้ โดยที่ผู้ใช้บริการท่านอื่นๆ โปรดทำความเข้าใจว่า การใช้บริการของ www.gamling.org หรือข้อมูล เนื้อหาใดๆ ที่แสดงบน www.gamling.org หรือส่งผ่าน www.gamling.org นั้น อาจทำให้ท่านได้เห็น หรือรับทราบเนื้อหาที่ผิดกฎหมายล่วงละเมิด หมิ่นประมาท ไม่สุภาพ หรือไม่เหมาะสมด้วยประการใดๆ ซึ่งไม่อยู่ในฐานะที่ WhoWish Corporation Limited หรือ www.gamling.org จะรับผิดชอบต่อเนื้อหา ความสูญเสีย และความเสียหายใดๆ ที่เกิดขึ้น รวมทั้งความผิดพลาดใดๆ ที่เกิดจากการละเว้น ละเลย หรือประมาทเลินเล่อ 
			 อนึ่ง ผู้ใช้บริการ ตกลงจะไม่ใช้ บริการในกรณีต่อไปนี้ :  </br>
			- ประกาศ โพสต์ (Post) อัพโหลด (Upload) ส่งจดหมายอิเล็คทรอนิคส์ (E-mail) ส่งผ่าน ส่งต่อ หรือ กระทำด้วยวิธีอื่นใด ในการนำเสนอ (ต่อไปนี้จะเรียกรวมว่า “นำเสนอ”) เนื้อหา หรือสิ่งใดๆ ที่ผิดต่อกฎหมาย ขัดต่อความสงบเรียบร้อย ศีลธรรม ขนบธรรมเนียมประเพณี ไม่เหมาะสม เป็นอันตราย รบกวน ดูหมิ่น หมิ่นประมาท หยาบคาย อนาจาร ล่วงละเมิดความเป็นส่วนตัว หรือ สร้างความเสียหายต่อผู้อื่น ประเทศชาติ และ สถาบันพระมหากษัตริย์ แม้แต่เพียงส่วนหนึ่งส่วนใดก็ตาม  </br>
			- เสนอเนื้อหา หรือสิ่งใดๆ ไม่ว่าโดยวิธีใดๆ ที่ละเมิดลิขสิทธิ์ สิทธิบัตร เครื่องหมายการค้า ความลับทางการค้า หรือสิทธิของบุคคลอื่น  </br>
			- นำเสนอเนื้อหา หรือสิ่งใดๆ ที่มีลักษณะเป็นการโฆษณา ประชาสัมพันธ์ ชักชวน หรือเรี่ยไร โดยไม่ได้รับอนุญาตจาก www.gamling.org  </br>
			- นำเสนอเนื้อหา หรือสิ่งใดๆ ที่มีโปรแกรมไวรัสติดอยู่ (ไม่ว่าไวรัสนั้นจะเป็นที่รู้จักหรือไม่ก็ตาม) รวมถึงไฟล์ หรือโปรแกรมที่ถูกออกแบบมาเพื่อรบกวน ทำลาย หรือจำกัดการทำหน้าที่ของซอฟท์แวร์ ฮาร์ดแวร์คอมพิวเตอร์ หรืออุปกรณ์การสื่อสารโทรคมนาคม    </br>
			- แทรกแซง หรือรบกวนการบริการ หรือผู้ให้บริการ หรือเครือข่ายที่เชื่อมต่อกับการบริการ ไม่ว่าโดยวิธีใดๆ หรือไม่เชื่อฟัง ไม่ปฏิบัติตามกฎเกณฑ์ และเงื่อนไข นโยบายหรือข้อบังคับใดๆ ของ www.gamling.org หรือเครือข่ายที่ให้บริการ  </br>
			- รบกวนผู้อื่น เก็บ รวบรวม ทำให้เสียหาย หรือ ทำลาย ข้อมูลส่วนบุคคลของผู้อื่น </br>
		</p><br/>
		<p>
			8. ผู้ใช้บริการ ตกลง และรับทราบว่า www.gamling.org มิได้มีการตรวจสอบเนื้อหาใดๆ ก่อน WhoWish Corporation Limited และ www.gamling.org มีสิทธิ และอำนาจแต่เพียงฝ่ายเดียวในการเปลี่ยนแปลง แก้ไข หรือลบเนื้อหา ที่ปรากฏหรือถูกนำเสนอใน www.gamling.org ไม่ว่าทั้งหมดหรือบางส่วน หากเห็นว่า เนื้อหานั้นเป็นการขัดต่อกฎหมาย ไม่เหมาะสม หรือฝ่าฝืนกฎเกณฑ์ และเงื่อนไข หรือนโยบายต่างๆของ www.gamling.org  
		</p><br/>
		<p>
			9. www.gamling.org เคารพในสิทธิของทุกท่านที่ นำเสนอเนื้อหามายัง www.gamling.org ไม่ว่าจะเป็นเนื้อหาใด และวิธีใดๆ ที่ท่านเลือก มานำเสนอใน www.gamling.org ท่านจำเป็นต้องให้สิทธิแก่ www.gamling.org โดยอิสระ ถาวร และยินยอมให้ www.gamling.org ได้ทำซ้ำ ดัดแปลง แก้ไข แปล ตีพิมพ์ และเผยแพร่ เนื้อหาดังกล่าว (ไม่ว่าทั้งหมดหรือบางส่วน) เพื่อรวบรวมเข้าไว้ และ/หรือ เผยแผ่ออกไป  
		</p><br/>
		<p>
			10. ห้ามนำชื่อทางการค้า เครื่องหมายการค้า เครื่องหมายบริการ เครื่องหมาย โลโก้ และ/หรือสัญลักษณ์ต่างๆ ของ WhoWish Corporation Limited หรือ www.gamling.org ไปใช้ หรือกระทำการเพื่อวัตถุประสงค์ อื่นใด เว้นแต่จะได้รับการอนุญาตเป็นลายลักษณ์อักษรจาก WhoWish Corporation Limited และ www.gamling.org แล้วเท่านั้น  
		</p><br/>
		<p>
			11. ประกาศใดๆ ของ www.gamling.org สามารถทำได้โดยการแจ้ง หรือประกาศให้ท่านผู้ใช้บริการทราบผ่านทางอีเมล์ (e-mail) จดหมาย หรือผ่านทางสื่ออื่นๆ 
		</p><br/>
		<p>
			12. www.gamling.org อาจระงับรหัสผ่าน หรือการใช้บริการ หากท่านกระทำการใด ๆ ที่ถือเป็นการละเมิดต่อเงื่อนไขการให้บริการ และอาจจะงดการให้บริการแก่ท่าน ซึ่งการงดให้บริการนี้ อาจไม่มีการแจ้งให้ท่านทราบล่วงหน้า นอกจากนี้ อาจต้องยุติ หรือ ลบทะเบียน และรายละเอียดที่เกี่ยวข้องของท่านออก ทั้งนี้บริษัทจะไม่รับผิดชอบต่อท่าน สำหรับการสิ้นสุดของการเข้าสู่การบริการ  
		</p><br/>
		<p>
			13. หากท่านพบการละเมิด หรือ การฝ่าฝืน หรือมีข้อสงสัยใดๆ โปรด แจ้งหรือสอบถามโดยส่งอีเมล (E-mail) มาที่ service@whowish.com  
		</p><br/>
		<p style="font-weight:900;">
			ข้อสงวนสิทธิ์ และข้อจำกัดความรับผิด
		</p><br/>
		<p>
			1. การนำเสนอข้อมูล ข่าวสาร บทความ ข้อความ ภาพ เสียง วีดีโอคลิป หรือ เนื้อหาใดๆ ใน www.gamling.orgนี้ เป็นเพียงการให้บริการ รวบรวมข้อมูล ความรู้ ข้อมูลข่าวสาร ฐานข้อมูลทางวิชาการความรู้ด้านต่างๆ และ เป็นเพียงสื่อกลางที่ใช้ในการส่งผ่านข้อมูลระหว่างผู้ใช้บริการ และเจ้าของ หรือแหล่งข้อมูลข่าวสาร ในด้านต่างๆ เท่านั้น โดย และ www.gamling.org ไม่สามารถตรวจสอบ หรือสืบค้นเพื่อทราบถึงแหล่งที่ มา และ/หรือ รายละเอียด ของเนื้อหา ทั้งหมดของเว็บไซต์ ดังนั้นการนำเสนอข้อมูลดังกล่าว หากก่อให้เกิดความเสียหายแก่ ผู้ใช้บริการ หรือ บุคคลภายนอก จึงไม่ก่อให้เกิดสิทธิ ความรับผิด และ/หรือ ภาระผูกพันทางกฎหมายไม่ว่ากรณี ใดๆ ทั้งสิ้น ระหว่าง WhoWish Corporation Limited และ/หรือ www.gamling.org กับเจ้าของข้อมูลข่าวสาร ผู้ใช้บริการ สมาชิกของเว็บไซต์ และ/หรือ บุคคลภายนอก 
		</p><br/>
		<p>
			2. WhoWish Corporation Limited และ www.gamling.org มิได้กระทำการแทน รับรอง หรือ รับประกันในสินค้า / บริการ คำแนะนำ ความเห็น ถ้อยคำ เนื้อหา หรือข้อมูล ข่าวสารอื่นใด รวมถึงคุณภาพของสินค้า บริการ เนื้อหา หรือการเชื่อมโยง (Link) ต่างๆ ที่ปรากฏ เผยแพร่ หรือที่ท่านได้มาโดยผ่านบริการของ www.gamling.org ทั้งทางตรงและทางอ้อมว่า ถูกต้อง เป็นความจริง แน่นอน หรือเชื่อถือได้  ผู้ใช้บริการตกลงยอมรับความเสี่ ยงทุกประการแต่เพียงผู้เดียว ในการที่จะเชื่อถือสินค้า / บริการ คำแนะนำ ความเห็น ถ้อยคำ เนื้อหา หรือข้อมูลข่าวสารอื่นใดข้างต้น ไม่ว่าจะเป็นการสื่อความหมาย หรือแง่มุมต่างๆ เพื่อการค้า การคาดการณ์ และการใช้ข้อมูลเพื่อจุดประสงค์ ใด จุดประสงค์หนึ่งโดยเฉพาะ โดยที่ WhoWish Corporation Limited และ www.gamling.org จะไม่รับผิดชอบใดๆ ทั้งสิ้น  
		</p><br/>
		<p>
			3. WhoWish Corporation Limited และ www.gamling.org จะไม่รับผิดชอบต่อความเสียหาย การสูญเสียกำไร ผลประโยชน์ ข้อมูล หรือความสูญเสียอื่นใด </br>
			- การที่ไม่สามารถใช้บริการได้ </br>
			- การส่งต่อข้อมูล หรือ การเข้ามายังบริการโดยไม่ได้รับอนุญาต </br>
			- คำชี้แจง หรือ การปฏิบัติของบุคคลที่สาม ต่อ การใช้บริการ หรือ เนื้อหาสาระใดๆ ที่เกี่ยวข้องกับบริการ  
		</p><br/>
		<p>
			4. WhoWish Corporation Limited และ www.gamling.org ไม่รับรอง หรือ รับประกันว่า: </br>
			- บริการของเราจะตรงตามความต้องการของท่านหรือไม่ </br>
			- บริการจะปลอดภัย ไม่ถูกรบกวน หรือไม่เกิดความผิดพลาดขึ้น </br>
			- สิ่งที่ได้จากบริการจะถูกต้อง หรือเชื่อถือได้แน่นอน </br>
			- คุณภาพ หรือรายละเอียด ของสินค้า/บริการ หรือสิ่งอื่นที่ท่านได้ใช้ หรือ สั่งซื้อ โดยผ่านทางบริการของบริษัท จะตรงตามความต้องการของท่าน </br>
			- ความผิดพลาดในซอฟท์แวร์จะได้รับการแก้ไข </br>
			- ความผิดปกติของระบบคอมพิวเตอร์ หรือ ซอฟแวร์ หรือ ระบบไอที และ เทคโนโลยี อื่นๆ </br>
			- ความบกพร่องไม่ว่าจะเป็นด้านเนื้อหา หรือ โปรแกรม และ ระบบคอมพิวเตอร์  หรือ ซอฟแวร์ หรือ ระบบไอที และ เทคโนโลยี อื่น ๆ โดยพิสูจน์ได้ว่าเกิดจากบุคคลภายนอก หรือ ไม่ได้เกิดจากผู้ปฏิบัติงานของ WhoWish Corporation Limited และ www.gamling.org 
		</p><br/>
		<p>
			5. WhoWish Corporation Limited และ www.gamling.org ขอสงวนสิทธิ์ในการแก้ไข ดัดแปลง หรือ หยุดการให้บริการ ไม่ว่าชั่วคราว หรือ ถาวร (หรือส่วนหนึ่งส่วนใดของบริการ) โดยไม่ต้องแจ้งให้ทราบล่วงหน้า และจะไม่รับผิดชอบต่อท่าน หรือต่อบุคคลที่สามในการแก้ไข ดัดแปลง หรือการหยุดให้บริการที่เกิดขึ้นนี้ 
		</p><br/>
		<p>
			6. WhoWish Corporation Limited และ www.gamling.org ขอปฏิเสธความรับผิดใดๆ ที่เกี่ยวข้องกับความล่าช้าในการส่ง ความผิดพลาด ความขัดข้อง การลบข้อมูล หรือความล้มเหลวในการเก็บข้อมูล การหมดเวลา การหยุดให้บริการ อันตราย ความเสียหาย ไวรัส (ไม่ว่าไวรัสนั้นจะเป็นที่รู้จักหรือไม่ก็ตาม) สินค้า บริการ หรือ สิ่งอื่นใดก็ตามที่เกิดจากการที่ผู้ใช้บริการ เข้าเยี่ยมชมสำรวจเว็บไซต์ ดาวน์โหลด จัดเก็บ ส่ง หรือ นำไปใช้ ซึ่งข้อมูลที่ได้จาก www.gamling.org  
		</p><br/>
		<p>
			7. สิ่งใดๆ ที่ดาวน์โหลด หรือได้โดยผ่านทางการให้บริการ ถือว่าได้กระทำโดยการพิจารณาไตร่ตรอง และยอมรับความเสี่ยงของผู้ใช้ บริการแต่เพียงผู้เดียว โดยท่านยอมรับและรับผิดชอบในความเสียหาย ที่อาจเกิดกับระบบคอมพิวเตอร์ของท่าน หรือการสูญหายของข้อมูลที่เป็นผลมาจากการดาวน์โหลดนั้นๆ  
		</p><br/>
		<p>
			8. การทำธุรกรรมโดยใช้รหัสผ่าน (Password) ของผู้ใช้บริการ ไม่ว่าในกรณีใดๆ จนทำให้ข้อมูลของท่านเปลี่ยนไปจากเดิมในระบบฐานข้อมูลสมาชิก ผู้ใช้บริการ (สมาชิก) จะต้องผูกพันกับการทำธุรกรรมนั้นทุกกรณี โดยไม่มีเงื่อนไข โดยWhoWish Corporation Limited และ www.gamling.org จะไม่รับผิดชอบใดๆทั้งสิ้น  
		</p><br/>
		<p>
			9. การเชื่อมโยง (Link) การให้บริการ หรือกลุ่มบุคคลที่สาม อาจทำให้ท่านสามารถเชื่อมโยงไปยังเว็บไซต์หรือแหล่งข้อมูลอื่นๆ และเนื่องจากบริษัทไม่ได้เป็นฝ่ายควบคุมเว็บไซต์ หรือ แหล่งข้อมูลนั้นๆ ดังนั้นเราจะไม่รับผิดชอบ และไม่รับรอง ในกรณีที่ท่านไม่สามารถหาเว็บไซต์ที่ต้องการได้ รวมทั้งไม่รับผิดชอบต่อเนื้อหา โฆษณา สินค้า หรือสิ่งอื่นใด ที่ท่านจะสามารถค้นหาจากเว็บไซต์ดังกล่าว นอกจากนี้บริษัทจะไม่รับผิดชอบต่อความสูญเสีย หรือ ความเสียหายทั้งโดยตรงและโดยอ้อมที่อาจเกิดขึ้น
		</p><br/>
		<p style="font-weight:900;">
			นโยบายสิทธิส่วนบุคคล
		</p><br/>
		<p>
			1. ข้อมูลส่วนบุคคลที่ www.gamling.org ได้รับจากผู้ใช้บริการเว็บไซต์ www.gamling.org จะทำการเก็บรวบรวมข้อมูล เมื่อท่านลงทะเบียน หรือ ส่งข้อความ รูปภาพ วีดีโอคลิป รวมทั้ง เนื้อหาอื่นๆ ลงเว็บไซต์ www.gamling.org  
		</p><br/>
		<p>
			2. เมื่อท่านลงทะเบียนผ่านระบบของเราหรือผ่านทาง facebook.com หรือ twitter.com  ท่านต้องเก็บรักษารหัสผ่าน และข้อมูลต่างๆไว้เป็นความลับ รวมถึงการรับผิดชอบต่อ การใช้รหัสผ่านในการดำเนินกิ จกรรมต่าง ๆ ภายใน www.gamling.org  
		</p><br/>
		<p>
			3. เป็นที่เข้าใจกันว่าการส่งผ่านข้อมูลทางอินเทอร์เน็ต และสื่ออื่นๆนั้น ไม่สามารถรับรองความปลอดภัยได้ อย่างสมบูรณ์แบบ ไม่ว่าในกรณีใดๆก็ตาม ด้วยเหตุผลดังกล่าวนี้ www.gamling.org จึงไม่สามารถให้การรับรองถึงความปลอดภัยในการส่งผ่านข้อมูลใดๆ ทางอินเทอร์เน็ต และสื่ออื่นๆ ได้ ไม่ว่าจะเป็นการที่ท่านส่งข้อมูลมาให้เรา หรือเราส่งข้อมูลไปให้ท่าน แต่เราจะพยายามจะรักษาความปลอดภัยในระบบของเราทุกครั้งที่มีการส่งผ่านข้อมูลใดๆ  ท่านสมาชิกกรุณาพิจารณาและระมัดระวังถึงการเปิดเผยข้อมูลส่วนบุคคล ขณะที่ท่าน Online อยู่ เช่นในกรณีของ Message Boards หรือ E-mail เนื่องจากข้อมูลเหล่านี้ อาจจะถูกเก็บและใช้โดยผู้อื่นได้ ดังนั้นท่านต้องเก็บรักษาข้อมู ลและ password ของท่านไว้เป็นความลับ  
		</p><br/>
		<p>
			4. ในกรณีที่ข้อมูลส่วนบุคคลดังกล่าวถูกจารกรรมโดยวิธีการทางอิเล็กทรอนิกส์ (hack) หรือสูญหาย หรือเสียหายอันเนื่องจากเหตุสุดวิสัย หรือไม่ว่ากรณีใดๆทั้งสิ้น WhoWish Corporation Limited และ www.gamling.org ไม่ต้องรับผิดจากเหตุดังกล่าวทั้งหมด
		</p><br/>
		<p>
			<span style="font-weight: bold;">ลิขสิทธิ์ (Copyrights) </br></br></span>
			ผู้ใช้บริการเว็บไซต์ www.gamling.org โปรดทำความเข้าใจ และ ตกลงยอมรับว่า บรรดารายละเอียดต่างๆ ไม่ว่าจะเป็นเนื้อหา ข้อความ บทความ ข้อมูล ซอฟท์แวร์ โปรแกรมต่างๆ เสียง ดนตรี วีดีโอ รูปภาพ กราฟฟิค หรือส่วนประกอบใดๆ (ต่อไปนี้จะเรียกรวมว่า “เนื้อหา”) ซึ่งรวมถึงแต่ไม่จำกัดเฉพาะเครื่องหมายการค้า เครื่องหมายบริการ ชื่อ ชื่อทางการค้า สิทธิบัตร โนว์ฮาวส์ (Know-How) การให้บริการ ฯลฯ ที่ปรากฏบนเว็บไซต์ www.gamling.org นี้ เป็นงานอันมีลิขสิทธิ์ซึ่งได้รับความคุ้มครอง ตามกฎหมายทรัพย์สินทางปัญญาของไทย และกฎหมายอื่นๆ และเป็นสิทธิโดยชอบด้ วยกฎหมายของ WhoWish Corporation Limited แต่เพียงผู้เดียว หากบุคคลใดปลอมแปลง ลอกเลียน ทำซ้ำ ดัดแปลง เผยแพร่ต่อสาธารณชน จำหน่าย มีไว้ให้เช่า หรือกระทำการใดๆ ในลักษณะที่เป็น การแสวงหาประโยชน์ทางการค้า หรือ ประโยชน์อื่นใดโดยมิชอบ ไม่ว่าโดยประการใดๆ จากทรัพย์สินทางปัญญาดังกล่าวข้ างต้น ไม่ว่าทั้งหมดหรือบางส่วน โดยไม่ได้รับอนุญาตอย่างชัดแจ้ง (เป็นลายลักษณ์อักษร) จาก WhoWish Corporation Limited  WhoWish Corporation Limited จะดำเนินการตามกฎหมายกับผู้ ละเมิดสิทธิดังกล่าวโดยทันที 
		</p><br/>
		<p>
			<span style="font-weight: bold;">ข้อมูลส่วนบุคคล </br></br></span>
			กรณีของข้อมูลส่วนบุคคลที่ทำการลงทะเบียนกับเว็บไซต์ www.gamling.org โดยได้ให้ไว้กับ www.gamling.org นั้น ทาง เว็บไซต์ www.gamling.org จะเก็บรักษาข้อมูลส่วนบุคคลของท่านอย่างดีที่สุด อย่างไรก็ตามเพื่อความปลอดภัยในข้อมูลส่วนบุคคลของท่านเอง กรุณาอ่านและทำความเข้าใจรายละเอียดของนโยบาย การดำเนินการที่เกี่ยวข้องกับข้อมูลส่วนตัวของท่าน และปฏิบัติตามกฎเกณฑ์ และเงื่อนไขการให้บริการ และนโยบายข้อมูลส่วนบุคคลของ www.gamling.org โดยเคร่งครัด ทั้งนี้ WhoWish Corporation Limited และ www.gamling.org จะไม่รับผิดชอบต่อความสูญเสียหรือความเสียหายใดๆ ที่เกิดขึ้นจากการที่ท่านไม่ปฏิบัติตามกฎเกณฑ์ เงื่อนไข และนโยบายดังกล่าว นโยบายเหล่านี้อาจจะมีการเปลี่ยนแปลง โดยมิได้แจ้งให้ท่านทราบล่วงหน้า ดังนั้นกรุณาติดตามและตรวจสอบการเปลี่ยนแปลงอย่างสม่ำเสมอ
		</p>
</span>