<script type="text/javascript">
	_gaq.push(['_trackPageview', '/help/twitter']);
</script>
<span class="dialogContent helpVendor">
	<h1><%=word_for :vendor%></h1>
	<img src="/images/Twitter-Logo.jpeg" class="vendorLogo" />
	<p><%=word_for :description%></p>
	<p><%=word_for :instruction%></p>
</span>