<ul id="main_menu">
	<li><span class="info" title="<%=word_for_attr :info%>" onclick="location.href='/help';"></span></li>
	<li><span class="register" title="<%=word_for_attr :register%>" onclick="location.href='/email_registration';"></span></li>
</ul>



