<span class="span-98 margin-top-2">
    <span class="span-98 clearfix">
		<span class="navigator clearfix">
			<span class="float-left ">
				<span class="float-left font12 bold_font medium_dark_gray line_height26px">
					View Admin:
				</span>
				<br/>
			</span>	
		</span>
		<br/>
        <span class="span-68 search_result margin-top-1 clearfix">
            <ul>
                <%
                    @admins.each do |member|
                %>
                    <%=render :partial=>"/admin_member/set_admin_unit",:locals=>{:entity=>member}%>
					<br/>
                <%end%>
            </ul>
        </span>
		<br/>
		<span class="span-68">
			<a class="gray_button_small margin-left-1 margin-top-1 font12 medium_dark_gray" href="#" onclick="set_admin_handler.remove(this);" id="remove_admin_submit_button" >
				<%= word_for :remove_admin%>
			</a>
			
       	</span>
    </span>
</span>

<script type="text/javascript">

	var set_admin_handler = {};
	
	set_admin_handler.remove = function(sender){
	
			var all_chkboxes = $('input[id^=chkbox_member_]');
			var selected_member_ids = []
			for ( var i=0;i<all_chkboxes.length;i++)
			{
				if (all_chkboxes[i].checked == true) 
				{ 
					selected_member_ids.push(all_chkboxes[i].value);
				}
			}
			
			try {
				
				$('#remove_admin_submit_button').loading_button(true);
				
				$.ajax({
					type: "POST",
					url: '/admin_member/submit_remove_admin',
					cache: false,
					data: {
						authenticity_token: "<%=form_authenticity_token%>",
						"member_id": selected_member_ids.join(',')
					},
					success: function(data){
						try {
							if (data.ok == true) {
								
								for ( var i=0;i<selected_member_ids.length;i++)
								{
									$('#set_admin_unit_'+selected_member_ids[i]).fadeOut(
									function (){$('#set_admin_unit_'+selected_member_ids[i]).remove();})
								}
							}
							else {
								
							}
							$(sender).loading_button(false);
						} 
						catch (e) {
							$(sender).loading_button(false);
							$.error_log('submit_remove_admin', e);
							alert(e);
						}
						
					},
					error: function(req, status, e){
						$(sender).loading_button(false);
	                     if (req.status == 0) return;
						alert('Cannot connect to the server. Please try again later.');
					}
				});
			} catch (e)
			{
				$(sender).loading_button(false);
				$.error_log('submit_remove_admin',e);
				alert(e);
			}
		}	
	
</script>