<script type="text/javascript">
	_gaq.push(['_trackPageview', '/post/view_error']);
	piwikTracker.setDocumentTitle("/post/view_error");
	piwikTracker.trackPageView();
</script>
<span class="post-container">
	<span class="info-container">
		<div class="showbox scale">
			<h4><%=word_for :no_data%></h4>
		</div>
		<h2><%=word_for :no_data_instruction%></h2>
	</span>
</span>
