<%
	content_for(:css_files) do
%>
	<%= stylesheet_link_tag "about.css" %>
<%
	end
%>
<script type="text/javascript">
	_gaq.push(['_trackPageview', '/about']);
</script>
<div class="aboutContainer">
	<p class="aboutContent" style="color: #666666;">
		<%==word_for :about_us%>
	</p>
</div>
